<div class="sidebar vh-100 p-3">
  <h4 class="mb-4">Admin Dashboard</h4>
  <ul class="nav flex-column">
    <!-- Dashboard Link -->
    <li class="nav-item mb-2">
      <a class="nav-link " routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="bi bi-house-door"></i> Dashboard
      </a>
    </li>

    <!-- Products Link -->
    <li class="nav-item mb-2">
      <a class="nav-link " routerLink="/admin/products" routerLinkActive="active">
        <i class="bi bi-bag"></i> Products
      </a>
    </li>

    <!-- Orders Link -->
    <li class="nav-item mb-2">
      <a class="nav-link " routerLink="/admin/orders" routerLinkActive="active">
        <i class="bi bi-box-seam"></i> Orders
      </a>
    </li>

    <!-- Clients Link -->
    <li class="nav-item mb-2">
      <a class="nav-link " routerLink="/admin/clients" routerLinkActive="active">
        <i class="bi bi-people"></i> Users
      </a>
    </li>

    <!-- Payments Link -->
    <li class="nav-item mb-2">
      <a class="nav-link " routerLink="/admin/payments" routerLinkActive="active">
        <i class="bi bi-credit-card"></i> Payments
      </a>
    </li>

    <!-- Divider -->
    <li class="divider nav-item mt-4">
      <hr style="border: 1px solid white; margin-top: 120px;">
    </li>

    <!-- Profile Link -->
    <li class="nav-item mb-2">
      <a class="nav-link " routerLink="/admin/profile" routerLinkActive="active">
        <i class="bi bi-person"></i> Profile
      </a>
    </li>

    <!-- FAQ Link -->
    <li class="nav-item mb-2">
      <a class="nav-link " routerLink="/admin/faq" routerLinkActive="active">
        <i class="bi bi-question-circle"></i> FAQ
      </a>
    </li>

    <!-- Contact Link -->
    <li class="nav-item mb-2">
      <a class="nav-link " routerLink="/admin/contact" routerLinkActive="active">
        <i class="bi bi-envelope"></i> Contact
      </a>
    </li>
  </ul>
</div>
