<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="/assets/logo/name2_logo.png" alt="AGRIMAR Logo" />
      <p>A project by Salih El Mehdi & Akchouch Abdelhakim, powered by Chat GPT-4, Angular, And Spring technology. It aims to provide the best agricultural products to users.</p>
    </div>

    <div class="footer-links">
      <h4>Quick links</h4>
      <ul>
        <li><img src="/assets/icons/3.png" /> <a href="#">Join Us</a></li>
        <li><img src="/assets/icons/3.png" /> <a href="#">Maintenance</a></li>
        <li><img src="/assets/icons/3.png" /> <a href="#">Language Packs</a></li>
        <li><img src="/assets/icons/3.png" /> <a href="#">LearnPress</a></li>
        <li><img src="/assets/icons/3.png" /> <a href="#">Release Status</a></li>
      </ul>
    </div>

    <div class="footer-subscribe">
      <h4>Subscribe email</h4>
      <p>Enter your email below to get the latest updates, join our AGRIMAR community!</p>
      <input type="email" placeholder="Your Email" />
      <button type="button">Submit</button>
    </div>

    <ul class="footer-contact">
      <h4>Contact Us</h4>
      <li>
        <a href="https://maps.app.goo.gl/vdC7GyfTbHEdesu59"><img src="/assets/icons/loc1.png" alt="#" /></a><p>Avenue des Nations Unies, Agdal, Rabat Maroc</p>
      </li>
      <li>
        <a href="mailto:fstbm.agrimar@gmail.com"><img src="/assets/icons/email1.png" alt="#" /></a><p>fsr.agristore&#64;gmail.com</p>
      </li>
      <li>
        <a href="#"><img src="/assets/icons/call1.png" alt="#" /></a><p>+12586954775</p>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 All Rights Reserved.</p>
  </div>
</footer>
