<div class="about-container">
  <div class="overlay">
    <div class="about-content">
      <h1><b>About Us</b></h1>
      <div class="text-container">
        <h2>Agri Store, your intelligent agricultural store.</h2>
        <p>Welcome to Agri Store, your trusted source for high-quality agricultural products. We specialize in providing farmers and gardening enthusiasts with a comprehensive range of essential supplies, including herbicides, insecticides, seeds, fertilizers, and more. Our mission is to support your agricultural needs by offering top-notch products that enhance crop health and boost yields. With a user-friendly shopping experience and expert guidance, Agri Store makes it easy for you to find the right solutions for your farming practices. Explore our selection and discover how we can help you cultivate success in your agricultural endeavors.</p>
        <a href="#" class="read-more">Read More</a>
      </div>
    </div>
  </div>
</div>
