<div class="carousel-header">
  <h2 class="carousel-title">Our Trusted Brands</h2>
  <p class="carousel-subtitle">We collaborate with the best brands to bring you quality agricultural products.</p>
</div>

<div class="logos-container">
  <div class="logos">
    <div class="logos-slide slide-left">
      <img src="assets/brands/BASF.png" />
      <img src="assets/brands/bayer.png" />
      <img src="assets/brands/indofil.png" />
      <img src="assets/brands/monsanto.png" />
      <img src="assets/brands/coromande.png" />
      <img src="assets/brands/crystal-crop-protection.png" />
      <img src="assets/brands/vanproz.png" />
      <img src="assets/brands/dhanuka.png" />
      <img src="assets/brands/Excel.png" />
      <img src="assets/brands/fmc.png" />
      <img src="assets/brands/Geolife.png" />
      <img src="assets/brands/multiplex.png" />
      <img src="assets/brands/Namdhari.png" />
      <img src="assets/brands/syngenta.png" />
      <img src="assets/brands/pl.png" />
      <img src="assets/brands/seminis.png" />
      <img src="assets/brands/sumitomo.png" />
      <img src="assets/brands/upl.png" />
    </div>
  </div>

  <div class="logos">
    <div class="logos-slide slide-right">
      <img src="assets/brands/BASF.png" />
      <img src="assets/brands/bayer.png" />
      <img src="assets/brands/coromande.png" />
      <img src="assets/brands/crystal-crop-protection.png" />
      <img src="assets/brands/dhanuka.png" />
      <img src="assets/brands/Excel.png" />
      <img src="assets/brands/fmc.png" />
      <img src="assets/brands/Geolife.png" />
      <img src="assets/brands/indofil.png" />
      <img src="assets/brands/monsanto.png" />
      <img src="assets/brands/multiplex.png" />
      <img src="assets/brands/Namdhari.png" />
      <img src="assets/brands/pl.png" />
      <img src="assets/brands/seminis.png" />
      <img src="assets/brands/sumitomo.png" />
      <img src="assets/brands/syngenta.png" />
      <img src="assets/brands/upl.png" />
      <img src="assets/brands/vanproz.png" />
    </div>
  </div>
</div>
